.App {
  text-align: center;
}
.img-logo {
}
.App-title {
  font-size: 28px;
  text-align: center;
  margin-top: 100px;
  font-weight: normal;
}
h2  {
  font-size: 14px;
  margin-top: 40px;
  font-weight: normal;
}
.input {
  border-bottom: 2px solid #dfdfdf;
  text-decoration: none;
}
