

.App-title {
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
  font-weight: normal;
}
h1  {
  font-size: 14px;
  font-weight: normal;
}
.input {
  border-bottom: 2px solid #dfdfdf;
  text-decoration: none;
  width: 100%;
}
