
.App-title {
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
  font-weight: normal;
}
h1  {
  font-size: 14px;
  font-weight: normal;
}
.input {
  width: 40%;
  padding: 6px;
  height: 40px;
  font-size: 14px;
  margin-left: 20%;
  margin-top: 20px;
  border: 2px #4A4A4A;
  box-shadow: #DA4F1A;
  outline: none;
  border-bottom: 5px;

}
.image {
  width: 60%;
  height: 60%;
  margin-left: 20%;
}
.title {
  font-size: 2rem;
  text-align: center;
  margin-top: 44px;
  line-height: 1.42857;
  font-family: "latoregular", sans-serif;
  color: #4A4A4A;

}
.email {
  font-family: "latoregular", sans-serif;
  margin-left: 20%;

}
.btn {
  background-color: #DA4F1A;
  border-color: #DA4F1A;
  border-radius: 3px;
  height: 40px;
  padding: 0 50px;
  color: #ffffff;
  font-size: inherit;
}
